<html>
<head>
<%=render "/layouts/header" %>
<style type = "text/css">
    table, td, th {
      border: 1px solid black;
	  padding: 15px;
    } 
	th {
	  background-color: rgb(149, 29, 209);
      color:white
	}
</style>
</head>
<body>
<div id="main-wrapper">
<div id="main">

<h1>Listing Faculty</h1>
</br>

<%= link_to 'Add Faculty Member', new_admin_faculty_path %>
</br></br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.name %></td>
        <td><%= faculty.title %></td>
        <td><%= link_to 'Show', admin_faculty_path(faculty) %></td>
        <td><%= link_to 'Edit', edit_admin_faculty_path(faculty) %></td>
        <td><%= link_to 'Destroy', admin_faculty_path(faculty), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
</body>
</html>