<html>
<head>
<%=render "/layouts/header" %>
</head>
<body>
<div id="main">

<h1>Listing faculties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.name %></td>
        <td><%= faculty.title %></td>
        <td><%= link_to 'Show', admin_faculty_path(faculty) %></td>
        <td><%= link_to 'Edit', edit_admin_faculty_path(faculty) %></td>
        <td><%= link_to 'Destroy', admin_faculty_path(faculty), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faculty', new_admin_faculty_path %>

</div>
</body>
</html>