<html>
<head>
<%=render "/layouts/header" %>
</head>
<body>
<div id="main">

  <h1>Administration</h1> 
  <ul> 
    <li><%= link_to 'Manage Users', admin_users_path %></li>
    <li><%= link_to 'Manage Events', admin_events_path %></li> 
    <li><%= link_to 'Manage Employment', admin_employments_path %></li> 
    <li><%= link_to 'Manage Faculty', admin_faculties_path %></li> 
    <li><%= link_to 'Manage Courses', admin_courses_path %></li> 
    <li><%= link_to 'Manage Clubs', admin_clubs_path %></li> 
  </ul>
  
</div>
</body>
</html>