<html>
<head>
<%=render "/layouts/header" %>
</head>
<body>
<br><br>



<div class="panel-group" id="accordian2">
	<%for c in Club.all%>
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordian2" href="<%= c.name%>">
					<%=c.name%>
				</a>
			</h4>
		</div>
		
		<div id="<%=c.name%>" class="panel-collapse collapse in">
			<div class="panel-body">
			<%=c.description%>
			</div>
		</div>
	<%end%>
	


</div>

 
</body>
</html>