<html>
<head>
<%=render "/layouts/header" %>
<link rel=stylesheet type="text/css" href="/public/employment.css">

</head>
<body>

<div id="main">
	<h3>Search</h3>
	<%= form_tag employments_path, method: "get" do %>
	  <%= label_tag("Job Title: ") %> 
		<%= text_field_tag :title_keywords %> <br/>
	  <%= label_tag("Employer: ") %> 
		<%= text_field_tag :employer_keywords %> <br/>
	  <%= label_tag("Employment Type: ") %> 
		<%= select_tag :job_type_select, options_for_select(Employment::JOB_TYPE_SELECTIONS.collect{ |j| [j, j] }) %> <br/>
	  <%= submit_tag "Enter" %>
	<% end %>
	<br><br>

	<div class="panel-group" id="accordion">
		<% for employment in @employments %>
			<div class="panel panel-default">
				<div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%=employment.title%>">
					<div class="panel-title">
						<h3>
							<%= employment.title%> - <%= employment.employer%>
						</h3>
					</div>
				</div>
				<div id="<%employment.title%>" class="panel-collapse collapse in">
					<div class="panel-body"> <i>Description: </i> <%= employment.description %> </div>
				</div>
		<% end %>
	</div>
		
</div>
 
</body>
</html>