<html>
<head>
<%=render "/layouts/header" %>
<style type = "text/css">
    table, td, th {
      border: 1px solid black;
	  padding: 15px;
    } 
	th {
	  background-color: rgb(149, 29, 209);
      color:white
	}
</style>
</head>
<body>
<div id="main">

  <h1>Listing Events</h1>

  <h3>Search</h3>
  <%= form_tag admin_events_path, method: "get" do %>
    <%= label_tag("Title: ") %> <%= text_field_tag :title_keywords %> <br/>
    <%= date_select(:chosen_date, "date", :discard_day => true) %> <br/>
    <%= label_tag("Free Food:") %> <%= check_box_tag :free_food_select %> <br/>
    <%= submit_tag "Enter" %>
  <% end %>
  </br>
  
  <%= link_to 'New Event', new_admin_event_path %>
  </br></br>
	
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% Event.all.order(:event_date).each do |event| %>
        <tr>
          <td><%= event.event_date.strftime("%B %d, %Y") %></td>
          <td><%= event.title %></td>
          <td><%= link_to 'Show', admin_event_path(event) %></td>
          <td><%= link_to 'Edit', edit_admin_event_path(event) %></td>
          <td><%= link_to 'Destroy', admin_event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>

</div>
</body>
</html>