<html>
<head>
<%=render "/layouts/header" %>
</head>
<body>
<div id="main">
	<h3>Search</h3>
	<%= form_tag events_path, method: "get" do %>
	  <%= label_tag("Title: ") %> <%= text_field_tag :title_keywords %> <br/>
	  <%= date_select(:chosen_date, "date", :discard_day => true) %> <br/>
	  <%= label_tag("Free Food:") %> <%= check_box_tag :free_food_select %> <br/>
	  <%= submit_tag "Enter" %>
	<% end %>
	<br><br>
	
	<div class="panel-group" id="accordion">
		<% for event in @events %>
			<div class="panel panel-default">
				<div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%=event.title.delete(' ')%>">
					<div class="panel-title">
						<h3>
							<%= event.event_date.strftime("%B %d, %Y")%> - <%= event.title%>
						</h3>
					</div>
				</div>
				<div id="<%event.title.delete(' ')%>" class="panel-collapse collapse in">
					<div class="panel-body"> <i>Location: </i> <%= event.location %> </div> <br/>
					<div class="panel-body"> <i>Description: </i> <%= event.description %> </div>
				</div>
		<% end %>
	</div>
		
</div>
 
</body>
</html>