<html>
<head>
<%=render "/layouts/header" %>
<style type = "text/css">
    table, td, th {
      border: 1px solid black;
	  padding: 15px;
    } 
	th {
	  background-color: rgb(107, 0, 161);
      color:white
	}
</style>
</head>
<body>
<div id="main-wrapper">
<div id="main">

  <h1>Listing Employment</h1>

  <h3>Search</h3>
  <%= form_tag admin_employments_path, method: "get" do %>
    <%= label_tag("Job Title: ") %> 
      <%= text_field_tag :title_keywords %> <br/>
    <%= label_tag("Employer: ") %> 
	  <%= text_field_tag :employer_keywords %> <br/>
    <%= label_tag("Employment Type: ") %> 
	  <%= select_tag :job_type_select, options_for_select(Employment::JOB_TYPE_SELECTIONS.collect{ |j| [j, j] }), include_blank: true %> <br/>
    <%= submit_tag "Enter" %>
  <% end %>
  </br>
  
  <%= link_to 'Add Employment', new_admin_employment_path %>
  </br></br>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Employer</th>
        <th>Job Type</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @employments.each do |employment| %>
        <tr>
          <td><%= employment.title %></td>
          <td><%= employment.employer %></td>
          <td><%= employment.job_type %></td>
          <td><%= link_to 'Show', admin_employment_path(employment) %></td>
          <td><%= link_to 'Edit', edit_admin_employment_path(employment) %></td>
          <td><%= link_to 'Destroy', admin_employment_path(employment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>

</div>
</div>
</body>
</html>