<%=render "/layouts/header" %>

<h1>Listing courses</h1>

<h3>Search</h3>
<%= form_tag courses_path, method: "get" do %>
  <%= label_tag("Keywords: ") %><%= text_field_tag :keywords %> <br/>
  <%= label_tag("Department: ") %> <%= text_field_tag :department %> <br/>
  <%= label_tag("Course #: ") %> <%= text_field_tag :course_num %> <br/>
  <%= submit_tag "Enter" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Department</th>
      <th>Course number</th>
      <th>Credits</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td><%= course.department %></td>
        <td><%= course.course_number %></td>
        <td><%= course.credits %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
