<html>
<head>
<%=render "/layouts/header" %>
<style type = "text/css">
  #info img {float:left; margin-left:120px;}
  #info p {margin-left:300px;}
</style>
</head>
<body>
<div id="main">

  <h1>CIS Faculty</h1> </br>
  
  <div id="info">
  <% @faculties.each do |faculty| %>
    <%= image_tag faculty.image.url if faculty.image_stored? %>
    <p><%= faculty.name %></p> 
    <p><b><%= faculty.title %></b></p> 
    <p>Office: <%= faculty.office %></p>
    <p>Phone Number: <%= faculty.phone_number %></p>
    <p>Email: <%= faculty.email %></p>
	</br>
  <% end %>
  </div>
  <br>

</div>
</body>
</html>