<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @faculty.title %>
</p>

<p>
  <strong>Office:</strong>
  <%= @faculty.office %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @faculty.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @faculty.email %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
